.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  height: 48px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.wrapper_emoji {
  width: 100%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
